<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
    <h1>WE ARE INTRODUCING...</h1>
    <h4>Nurtured from the seed of a single idea ‘to empower the traveller with easy & instant travel bookings providing comprehensive choices’, MakeMyTrip is a pioneer in India’s online travel space. Founded by Deep Kalra in the year 2000, MakeMyTrip began its journey by serving the US-India travel market with best-value products & services, powered by robust technology and round-the-clock customer support.

After successfully consolidating its position as a customer-first brand, known for its reliability and transparency, MakeMyTrip launched its India operations in 2005.

As low-cost flight carriers were introduced in India</h4>
</head>
<body>

</body>
</html>