<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

         <div class="row">
                    <div class="col-md-12 room">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="room-img">
                                    <img src="img/room/room-1.jpg' %}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="room-des">
                                    <h3> {{i.name}}</h3>
                                    <h5>{{i.desc}}</h5>

                                    <div class="room-link">
                                        <a href="#" data-toggle="modal" data-target="#modal-id">Read More</a>
                                        <a href="#">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

 <!-- Favicons -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">
        <link href="{% static 'img/apple-favicon.png' %}" rel="apple-touch-icon">


<a href="index.html" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>