<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<h1>Addition</h1>
<form action="number/" method="get">
    <input type="text" name="num1" placeholder="number 1">
    <input type="text" name="num2" placeholder="number 2">
    <input type="submit">
</form>


</body>



 <div class="col-md-12 room">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="room-img">
                                    <img src="{% static 'img/room/room-3.jpg' %}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="room-des">
                                    <h3>Premium Single</h3>
                                    <h1>1500<span>/ Night</span></h1>
                                    <ul class="room-size">
                                        <li><i class="fa fa-arrow-right"></i>Size: 260 sq ft </li>
                                        <li><i class="fa fa-arrow-right"></i>Beds: 2 Single(s) </li>
                                    </ul>
                                    <ul class="room-icon">
                                        <li class="icon-1"></li>
                                        <li class="icon-2"></li>
                                        <li class="icon-3"></li>
                                        <li class="icon-4"></li>
                                        <li class="icon-5"></li>
                                        <li class="icon-6"></li>
                                        <li class="icon-7"></li>
                                        <li class="icon-8"></li>
                                        <li class="icon-9"></li>
                                        <li class="icon-10"></li>
                                    </ul>
                                    <div class="room-link">
                                        <a href="#" data-toggle="modal" data-target="#modal-id">Read More</a>
                                        <a href="#">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 room">
                        <div class="row">
                            <div class="col-md-6 d-block d-md-none">
                                <div class="room-img">
                                    <img src="{% static 'img/room/room-4.jpg' %}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="room-des">
                                    <h3>without trekking</h3>
                                    <h1>1200<span>/ Night</span></h1>
                                    <ul class="room-size">
                                        <li><i class="fa fa-arrow-right"></i>Size: 260 sq ft </li>
                                        <li><i class="fa fa-arrow-right"></i>Beds: 2 Single(s) </li>
                                    </ul>
                                    <ul class="room-icon">
                                        <li class="icon-1"></li>
                                        <li class="icon-2"></li>
                                        <li class="icon-3"></li>
                                        <li class="icon-4"></li>
                                        <li class="icon-5"></li>
                                        <li class="icon-6"></li>
                                        <li class="icon-7"></li>
                                        <li class="icon-8"></li>
                                        <li class="icon-9"></li>
                                        <li class="icon-10"></li>
                                    </ul>
                                    <div class="room-link">
                                        <a href="#" data-toggle="modal" data-target="#modal-id">Read More</a>
                                        <a href="#">Book Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-none d-md-block">
                                <div class="room-img">
                                    <img src="{% static 'img/room/room-4.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>




 rekking</h3>
                    <div class="col-md-12 room">
                        <div class="row">
                            <div class="col-md-6 d-block d-md-none">
                                <div class="room-img">
                                    <img src="{% static 'img/room/room-2.jpg' %}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="room-des">
                                    <h3>with tan>/ couples</span></h1>
                                    <ul class="room-size">
                                        <li><i class="fa fa-arrow-right"></i>Size: 260 sq ft </li>
                                        <li><i class="fa fa-arrow-right"></i>Beds: 2 Single(s) </li>
                                    </ul>

                                     <ul class="room-icon">
                                        <l<h3>i class="icon-1"></li>
                                        <li class="icon-2"></li>
                                        <li class="icon-3"></li>
                                        <li class="icon-4"></li>
                                        <li class="icon-5"></li>
                                        <li class="icon-6"></li>
                                        <li class="icon-7"></li>
                                        <li class="icon-8"></li>
                                        <li class="icon-9"></li>
                                        <li class="icon-10"></li>
                                    </ul>
                                    <div class="room-link">
                                        <a href="#" data-toggle="modal" data-target="#modal-id">Read More</a>
                                        <a href="#">Book Now</a>
                                    </div>
                                </div>
                            </div>


                       <div class="col-md-6 d-none d-md-block">
                                <div class="room-img">
                                    <img src="{% static 'img/room/room-2.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>

